@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-tjbajz');
	src:url('../fonts/icomoon.eot?#iefix-tjbajz') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-tjbajz') format('truetype'),
		url('../fonts/icomoon.woff?-tjbajz') format('woff'),
		url('../fonts/icomoon.svg?-tjbajz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lines:before {
	content: "\e601";
}

body
	margin 0
	padding 0
	width 100%

header
	background #1E0E4B
	/*position relative*/
	/*background-image url('../img/cubes_3d-wallpaper-2048x1152.jpg')
	background-position center
	background-repeat no-repeat
	background-size cover*/
	margin 0
	width 100%
	
	
	
	
	
	.Header-name
		color #f7f7f7
		margin 0
		padding 7em
		text-align center

.menu_bar
	display none
	margin 0
	padding 1.5em
		

	
nav
	-o-transition all ease 0.5s
	-webkit-transition all aese 0.5s
	background #024959
	transition all ease .5s
	
.menu
	text-align center
	padding 1em
	ul
		margin 0
		padding 0		
		li
			display inline-block
			padding 0
			.menu-nav-titulo
				color #000;
				margin 0
				padding 2.1em
				font-size 20px
				text-decoration none
				

.menu-fixed		
	left 0px
	position fixed
	top 0px
	width 100%
	z-index 1000
	text-align center
	/*max-width 1000px*/
	.menu-nav-titulo
		padding 0.5em 1em
		

.Description
	background-color #01A9DB
	position relative		
	height 20em;
	width 100%
	
	.Description-figure
		margin 0
		padding 1em
		text-align center
		
	.Description-title
		margin 0
		text-align center
		

.About
	background #642EFE
	height 50em
	width 100%
	
	.Servicios-list
		margin 1px
		padding 1em
		
		.Servicios-item
			text-align center
			list-style none
			
			.Diseño
				margin 0.5em
			.Servicios-link
				text-decoration none
		
		
			
		
			.Diseño-description
				height 100px
				width 100px
				border-radius 50%
				
			
			.Desarrollo-description
				height 100px
				width 100px
				border-radius 50%
	
	.About-title
		.About-Subtitle
			margin 0
			padding 1em
			text-align center
		.About-idea
			text-align center

.Work // section
	background #00FFFF
	margin-top 1px
	padding 0
	width 100%
	//height 30em
	.Work-title
		margin 0
		padding 0.5em
		text-align center		
		
	.Work-item // article
		height 160px
		padding-bottom 1px
		border-bottom 3px solid black
		
		.Work-datos	// div
			height 160px
			.Work-imageContainer
				float left
				padding 0
				margin 1px
				img
					width 200px
					vertical-align top
					height 160px
			.Work-reseña				
				padding 0
				height 160px
				margin-left 200px
							
				.Work-description
					margin 0em
					padding 0
				


.Footer
	background #0B2F3A	
	width 100%
	height 20em
	.Footer-title
		margin 1px
		padding 1em
		text-align center
		color #FFF
		
	.Footer-form
		text-align center
		padding-bottom 0.5em
		
		.Footer-formInput,
		.Footer-texarea
			background white
			border none
			display block
			padding 0.5em
			border-radius 1em
			margin 0 auto 1em
			width 60%
			
	.direction
		padding 0.8em
		margin 0
		background-color #3A0FB8
		.direccion-parrajo
			color white
	
	
		
@media screen and (min-width: 768px)
	.Work
		.Work-item
			display inline-block
			margin 0.4em 0 0 0.6em
			vertical-align top
			width 48%
			&:nth-child(odd)
				margin-right 1%	
		
@media screen and (max-width: 800px)
	.menu
		text-align center
		padding 1em
		ul
			li
				border-bottom 1px solid rgba(255, 255, 255, .75)
				display block
				text-align center
				float none
	.menu_bar
		background #CCC
		display block
		margin 0
		padding 0
		
		span
			color white
			float right
			font-size 1.5em
									
		#bt_menu
			-box-sizing border-box
			-moz-box-sizing border-box
			-webkit-box-sizing border-box
			background  #024959
			color white
			display block
			font-size 1em
			font-weight bold
			padding 1.5em;
			text-decoration none
			

	
	

			
		
				